-e
git+https://git.heroku.com/ikoner-bot.git
git+https://github.com/pseudonym117/Riot-Watcher.git
PyNaCl==1.3.0
pandas
discord.py
riotwatcher
json
urllib
dnspython==1.16.0
async-timeout==3.0.1
discord
